@import 'vars';
.meteorology__container{
    display: grid;
    width: 90vw;
    height: 70vh;
    margin: auto;
    margin-top: .2em;
    margin-bottom: 5rem;
    padding: .3em;
    grid-template-columns: none;
    grid-template-rows: repeat(10, 1fr);
    row-gap: 1rem;
    justify-items: center;
    border-radius: 10px;
    z-index: 200;
    overflow-y: scroll ;
}

.data-info__container{
    display: grid;
    width: 14rem;
    grid-template-rows: repeat(2, 4fr);
    padding: .6rem;
}
.data-info__title{
    font-size: 1.5rem;
    font-weight: 500;
    color:white ;
}
//rgb(59, 59, 59)
.data-info{
    color: rgb(255, 255, 255);
    font-size: $sub-title-size-dektop;
    font-weight: 400;
}
.data-description{
    font-size:1.5rem;
    font-weight: 300;
    color: white;
}

.MetorolgyItems__card{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15rem;
    gap: 3rem;
    border: 3px solid rgba(37, 230, 255, 0.5);
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25), 
                inset 1px 1px 0px rgba(37, 230, 255, 0.25);;
    background-color:rgba(52, 84, 85, 0.5);
    border-radius: 20px;
}
.MetorolgyItems__card--aqi{
    width: 100%;
}

.data-info__container:first-child{
    width: 100%;
    grid-template-rows: repeat(3,1fr);
}
@media (min-width:320px) {
    .meteorology__container{
        grid-column: 1/3;
    }
}

@media(min-width:425px){
    .meteorology__container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
        grid-row-gap: 2rem;
    }
    .MetorolgyItems__card{
        width: 16rem;
        height: 16rem;
    }
    .MetorolgyItems__card--aqi{
        width: 90%; 
        grid-column: 1/3;
    }
    .data-info{
        color: rgb(255, 255, 255);
        font-size: $sub-title-size;
        font-weight: 400;
    }
    .data-description{
        font-size:1.5rem;
        font-weight: 300;
        color: white;
    }

}
//tablet
@media (min-width: 514px){
    .meteorology__container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
    }
    .MetorolgyItems__card{
        width: 20rem;
    }
    .MetorolgyItems__card--aqi{
        width: 90%; 
    }
    
}
@media (min-width: 724px) {
    .meteorology__container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 0;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }

}
//desktop
@media (min-width: 1024px) {
    .meteorology__container{
        width: 80vw;
        height: fit-content;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
        overflow: hidden;
    }
    .MetorolgyItems__card{
        width: 15rem;

    }
    .MetorolgyItems__card--aqi{
        width: 90%; 
    }

    .data-info{
        color: rgb(255, 255, 255);
        font-size: $sub-title-size-dektop;
        font-weight: 400;
    }
    .data-description{
        font-size:1.5rem;
        font-weight: 300;
        color: white;
    }
}
@media (min-width: 1300px) {
    .meteorology__container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        overflow: hidden;
    }
}
@media (min-width: 1300px) {
    .meteorology__container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        overflow: hidden;
    }
}
@media (min-width: 1500px) {
    .meteorology__container{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        overflow: hidden;
    }
}
