@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.App-container{
    height: 100%;
    width: 100vw;
    background: linear-gradient(360deg, #98A0A7 0%, #808A92 51.04%, #575E67 100%) ;
    overflow-x: hidden;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: small;
    color: rgb(255, 255, 255);
}

