.Location-conatiner{
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(34, 34, 34, .9);
    overflow: hidden;
    color: #fff;
    transition: all ease 1s;
    z-index: 100;
    border-radius: 10px;
    font-family: Montserrat;
}
.Location-header{
    display: grid;
    grid-template-columns: 3em 1fr;
    justify-items: center;
    align-items: center;
}
.h2-container{
    align-self: center;
}
.Select-container{
    justify-self: start;
    align-self: center;
    margin-top: 12px ;
    border-radius: 25px;
    background: none;
    color: #fff;
    width: 90vw;
    height: 3vh;
    font-family: Montserrat;
}